<div class="container" id="footer-section">

  <div class="inner-container">

    <div class="row">
      <div class="col">
        <div class="logo-footer"></div>
        <div id="footer-links">
          <ul>
            <a href="https://medium.com/asana-design" target="_blank">
              <li class="medium-footer"></li>
            </a>
            <a href="https://www.instagram.com/asanadesignteam/" target="_blank">
              <li class="instagram-footer"></li>
            </a>
            <a href="https://dribbble.com/asana" target="_blank">
              <li class="dribbble-footer"></li>
            </a>
            <a href="https://twitter.com/designingasana" target="_blank">
              <li class="twitter-footer"></li>
            </a>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
