
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: $gray-10;
    font-size: 16px;
    line-height: 1.5;
    font-family: Gordita, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: $gray-1;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray-3;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* Headings
 ------------------------- */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
 font-weight: 400;
 color: $gray-10;
}

h1, .h1,
h2, .h2,
h3, .h3 {
 margin-top: 32px;
 margin-bottom: 16px;
}
h4, .h4 {
 margin-top: 16px;
 margin-bottom: 16px;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child {
  margin-top: 0;
}

h1, .h1 {
 font-size: 45px;
 line-height: 58px;
 letter-spacing: 0.2px;
 font-weight: 300;
}

h2, .h2 {
 font-size: 24px;
 line-height: 36px;
}
h3, .h3 {
 font-size: 18px;
 line-height: 32px;
 color: $gray-8;
}
h4, .h4 {
 font-size: 16px;
 line-height: 28px;
 color: $gray-8;
 letter-spacing: -0.2px;
}

h5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: $gray-8;
  margin-top: 10px;
}

h6 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $gray-7;
}

pre {
  display: block;
  font-size: 12px;
  font-family: SFMono-Medium,SF Mono,Segoe UI Mono,Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;
  width: auto;
  white-space: pre-wrap;
  font-weight: 500;
  margin: 1em 0;
  background-color: $gray-1;
  border-radius: 4px;
  padding: 24px 40px !important;
}

a,
a:visited {
  color: $darkBlue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin: 40px 0px;
  width: 195px;
  height: 30px;
}

.logo > a,
.logo > a:hover,
.logo > a:visited {
  text-decoration: none;
}

h2.vision-headline {
  color: $gray-1;
  font-weight: 400;
  margin-top: 0;
}

p.vision-text {
  color: $gray-2;
}

h3.design-team-subline {
  padding-right: 50px;
  font-size: 16px;
  line-height: 28px;
}

.hr {
  background: $gray-3;
  width: 50px;
  height: 2px;
  display: block;
  margin: 24px auto;
}


/* Body text
 ------------------------- */

p {
 margin: 0 0 24px;
}


/* Emphasis & misc
 ------------------------- */

small,
.small {
 font-size: 14px;
 line-height: 18px;
}

/* Alignment */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/* Transformation */

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/* Contextual colors */
.text-muted {
 color: $gray-4;
}

/* Lists
 ------------------------- */

/* Unordered and Ordered lists */

ul,
ol {
  margin: 0 0 24px;
  ul,
  ol {
   margin-bottom: 0;
  }
}


/* Images */

img {
  max-width: 100%;
}


/* Lists */

li {
  list-style: none;
}


/* Header */

.header {
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 100;
}

#main-section {
  margin-top: 80px;
}


/* Cards */

.card {
  display: inline-block;
  position: relative;
  background-color: $white;
  vertical-align: top;
  text-align: left;
  width: 100%;
  height: 440px;
  margin: 10px 0;
  border-radius: 3px;
  white-space: normal;
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  color: $gray-10;
  z-index: 1;
}

.card:hover {
  box-shadow: 0 20px 30px rgba(36,50,66,.15);
  transform: translate(0,-2px);
  transition-delay: 0s !important;
}

.card-top {
  height: 260px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: $gray-2;
}

.card-body {
  position: relative;
  clear: both;
  float: left;
  overflow: visible;
  padding: 20px;
}

.card-title {
  font-size: 16px;
  font-weight: 500px;
  margin-bottom: 10px;
}

.card-description {
  color: $gray-7;
  font-size: 13px;
}

.card-footer {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .75px;
  text-transform: uppercase;
  color: $gray-8;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
}

.card-footer-wrapper {
    height: 48px;
    line-height: 48px;
}

.card-arrow {
  background-image: url('../images/icons/icon-arrow-grey.png');
  background-size: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  top: -16px;
}

.card:hover > .card-footer > .card-footer-wrapper > .card-arrow {
  background-image: url('../images/icons/icon-arrow-coral.png');
}


/* Card details */

.card-future-work {
  background: $white url('../images/articles/future-of-work.png') center center no-repeat;
  background-size: 600px;
}

.card-design-systems {
  background: $white url('../images/articles/design-systems.png') center center no-repeat;
  background-size: 600px;
}

.card-timeline {
  background: $white url('../images/articles/timeline.png') center center no-repeat;
  background-size: 600px;
}

.card-why-sara-is-here {
  background: $white url('../images/articles/why-sara-is-here.png') center center no-repeat;
  background-size: 600px;
}

.card-feedback-responsibility {
  background: $white url('../images/articles/feedback-responsibility.jpg') center center no-repeat;
  background-size: 600px;
}

/* Videos */

.video-player {
  cursor: pointer;
  position: relative;
  max-height: 642px;
}

.video-player > img {
  border-radius: 3px;
}

.video-button {
  width: 72px;
  height: 72px;
  position: relative;
  bottom: 105px;
  left: 35px;
  background: $white url('../images/video-button.png') no-repeat center center;
  background-size: 100%;
  border-radius: 100px;
  display: inline-block;
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
}

.video-player:hover > .video-button {
  box-shadow: 0 20px 30px rgba(36,50,66,.15);
  background: $white url('../images/video-button-hover.png') no-repeat center center;
  background-size: 100%;
  transform: translate(0,-2px);
  transition-delay: 0s !important;
}



/* ==========================================================================
   Stamps
   ========================================================================== */

div.stamps {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  z-index: 1;
  width: 80px;
}

div.stamps img {
  position: absolute;
  transform: translate(-50%, -50%);

  animation: fade-out 2s ease-in-out forwards;
  animation-delay: 4s;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* ==========================================================================
   Footer links
   ========================================================================== */


#footer-links {
  float: right;
  margin-top: 12px;
}

#footer-links > ul > a,
#footer-links > ul > a:hover,
#footer-links > ul > a:visited {
  width: 20px;
  height: 20px;
  text-decoration: none
}

#footer-links > ul > a > li {
  display: inline-block;
  line-height: 66px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: left center;
}

#footer-links > ul > a > li:hover {
  opacity: 0.8;
  transition: 0.2s ease;
}

.logo-footer {
  top: 4px;
  background: url('../images/logo/footer-logo.png') no-repeat center center;
  background-size: 50%;
  width: 280px;
  height: 40px;
  display: inline-block;
  position: relative;
}

#social-links > ul,
#footer-links > ul {
  padding: 0;
  margin: 0 0 8px;
}

#social-links > ul > a,
#social-links > ul > a:hover,
#social-links > ul > a:visited {
  width: 20px;
  height: 20px;
  text-decoration: none
}

#social-links > ul > a > li {
  display: inline-block;
  line-height: 66px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin: 0 20px 0 0;
  background-repeat: no-repeat;
  background-position: left center;
}

#social-links > ul > a > li:hover {
  transition: 0.2s ease;
}

#social-links > h6 {
  margin: 50px 0 15px 0;
}


li.twitter {
  background: url('../images/social/logo-twitter.svg');
}

li.instagram {
  background: url('../images/social/logo-instagram.svg');
}

li.medium {
  background: url('../images/social/logo-medium.svg');
}

li.dribbble {
  background: url('../images/social/logo-dribbble.svg');
}

li.twitter:hover {
  background: url('../images/social/logo-twitter-hover.svg');
}

li.instagram:hover {
  background: url('../images/social/logo-instagram-hover.svg');
}

li.medium:hover {
  background: url('../images/social/logo-medium-hover.svg');
}

li.dribbble:hover {
  background: url('../images/social/logo-dribbble-hover.svg');
}



/* ==========================================================================
   Link blocks
   ========================================================================== */

.link-block {
  margin: 60px 0;
}

ul.link-list {
  padding: 0;
}

ul.link-list > a {
  color: $gray-10;
}

ul.link-list > a:hover {
  text-decoration: none;
}

ul.link-list > a:hover > li {
  background: $white;
  border-color: $white;
  border-radius: 3px;
  box-shadow: 0 20px 30px rgba(36,50,66,0.14);
  transform: scale(102%,102%);
  transition-delay: 0s !important;
}

ul.link-list > a > li {
  border-top: 1px solid $gray-3;
  padding: 15px;
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
}

li.link-bottom {
  border-bottom: 1px solid $gray-3;
}

ul.link-list > a > li > span {
  float: right;
  background-image: url(../images/icons/icon-arrow-grey.png);
  background-size: 16px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
}

ul.link-list > a:hover > li > span {
  background-image: url(../images/icons/icon-arrow-coral.png);
}


/* ==========================================================================
   Nav tabs
   ========================================================================== */

.pull-right {
  margin-left: 0!important;
  margin-right: 0!important;
  display: block !important;
}

#tabs {
  float: right;
}

nav {
  margin-bottom: 0;
  padding-left: 0; /* Override default ul/ol */
  list-style: none;
  font-weight: 400;
  margin: 33px 0;
  font-size: 15px;
  float: right;
}

nav a {
  color: $gray-8;
  padding: 10px 0px;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-tabs a {
  color: $gray-8;
  padding: 10px 0;
}

.nav-tabs a:hover,
.nav-tabs a:focus {
  text-decoration: none;
  color: $gray-10;
}


.nav-tabs a::after {
  background: $coral;
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}

.nav-tabs a:hover::after, .nav-tabs a:focus::after {
  opacity: 1;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}


/* ==========================================================================
   Misc
   ========================================================================== */


.hero {
  margin-bottom: 140px;
}

.about-push-down {
  margin-top: 190px;
}

.video-player > a > img {
  border-radius: 3px;
}

.section-divider {
  margin: 80px 0 60px 0;
  border-top: 1px solid $gray-3;
}

.section-divider-vision {
  margin: 80px 0 100px 0;
  border-top: 1px solid $gray-9;
}

.link-block > h5 {
  margin-left: 15px;
}

.designer-block {
  background: $white;
  padding: 20px;
  margin-bottom: 15px;
}

.designer-name {
  border-top: 1px solid $gray-3;
  margin-top: 15px;
}

.designer-name > h5 {
  margin-bottom: 3px;
  color: $gray-10;
}

.designer-title {
  font-size: 12px;
  font-weight: 400;
  color: $gray-8;
  line-height: 20px;
  margin: 0;
}

.designer-headshot {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;
}

#team-section {
  background: $white;
  margin-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

#vision-section {
  background: #020304;
  padding-bottom: 120px;
  width: 100%;
}

#footer-section {
  color: $gray-6;
  background: $white;
  width: 100%;
}

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (min-width: 940px) {

  #sticky-design-team {
    position: sticky;
    top: 0px;
    height: 340px;
    padding-top: 50px;
    margin-bottom: 40px;
  }

}



@media (max-width: 699px) {

  .nav-tabs,
  .mobile-hide,
  #footer-section,
  .stamps {
    display: none;
  }

  h1 {
    font-size: 28px;
    line-height: 36px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 15px;
    line-height: 24px;
  }

  .header {
    height: 50px;
  }

  .logo {
    margin: 20px 0;
    width: 150px;
  }

  #main-section {
    margin-top: 20px;
  }

  .about-push-down {
    margin-top: 0;
  }

  html {
    font-size: 13px;
  }

  .inner-container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
	}

  #vision-section {
    padding-bottom: 0;
  }

  h3.design-team-subline {
    padding-right: 0;
  }

  ul.link-list > a > li > span {
    top: 3px;
  }

}
